<div class="container">
  <h3>Write us a message</h3>

  <div class="rte">
    {{ page.content }}
  </div>

  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    <div class="input-field">
      <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
      <input type="text"
        name="contact[name]"
        id="ContactFormName"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    </div>

    <div class="input-field">
      <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
      <input type="email"
        name="contact[email]"
        id="ContactFormEmail"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off">
    </div>

    <div class="input-field">
      <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
      <input type="tel"
        name="contact[phone]"
        id="ContactFormPhone"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        pattern="[0-9\-]*">
    </div>

    <div class="input-field">
      <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
      <textarea class="materialize-textarea" rows="10"
        name="contact[body]"
        id="ContactFormMessage">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>

    <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">

  {% endform %}

  <br>
</div>
