
<div class="row address">
  <div class="input-field col s12">
    <label class="active">Name</label>
    {{snippet_address.name}}
  </div>

  <div class="input-field col s12">
    <label class="active">Address</label>
    {{snippet_address.address1}}
  </div>

  <div class="input-field col s4">
    <label class="active">City</label>
    {{snippet_address.city}}
  </div>

  <div class="input-field col s4">
    <label class="active">State</label>
    {{snippet_address.province}}
  </div>

  <div class="input-field col s4">
    <label class="active">Zip</label>
    {{snippet_address.zip}}
  </div>

  <div class="input-field col s12">
    <label class="active">Country</label>
    {{snippet_address.country}}
  </div>
</div>