{% if product_col == blank %}
  {%- assign product_col = "m4" -%}
{% endif %}

<div
  class="col s12 {{product_col}} gallery-item gallery-expand gallery-filter
    {% if product_horizontal %} gallery-horizontal{% endif %}
    {% if product_fillscreen %} gallery-fillscreen{% endif %}"
    data-type="{{ product.type | handleize }}"
    data-section-type="product"
    {% if product.tags.size > 0 %} data-tag="{% for tag in product.tags %}{{tag | handleize}}{% if forloop.last != true %},{% endif %}{% endfor %}" {% endif %}
  {% if product.has_only_default_variant != true %}
    {% for option in product.options_with_values %}

      data-{{ option.name | handleize }}="{{option.selected_value | handleize}}"

    {% endfor %}
  {% endif %}>
  <div class="gallery-curve-wrapper">
    {% if product.featured_image.size > 0 %}
      {%- assign image_dimensions = '450x450' -%}
      {% if product_fillscreen %}
        {%- assign image_dimensions = 'master' -%}
      {% endif %}

      <a class="gallery-cover gray">
        <img
          {% if product_responsive %} class="responsive-img" {% endif %}
          src="{{ product.featured_image | product_img_url: image_dimensions }}"
          alt="{{ product.title }}"
          crossorigin="anonymous"
          data-product-featured-image />
      </a>
    {% endif %}


    {% if product_horizontal %}
      <div class="gallery-header">
        <h4>{{ product.title }}</h4>
        <p>{{ product.description | truncate: 140 }}</p>
      </div>
    {% elsif product_no_header or settings.dark_theme %}
      <div class="gallery-overlay">
        <div class="overlay-header">
          <div class="overlay-title">{{ product.title }}</div>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

          <span class="price" data-product-price>
            {{ current_variant.price | money }}
          </span>
        </div>
      </div>
      <div class="gallery-header invisible"></div>
    {% else %}
      <div class="gallery-header">
        <span class="title">{{ product.title }}</span>
        <div class="product-ratings-price">
          {% if settings.shopify_product_reviews_enabled %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}

          <span class="price" data-product-price>
            {{ current_variant.price | money }}
          </span>
        </div>
      </div>
    {% endif %}

    <div class="gallery-body">
      <div class="title-wrapper">
        <h3>{{ product.title }}</h3>
      </div>
      <div class="checkout-column">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <div class="price-quantity-wrapper">
            <div class="price-wrapper" data-price-wrapper>
              <label>price</label>
              <span class="price" data-product-price>
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
            </div>

            <div class="input-field quantity-counter">
              <label for="Quantity">quantity</label>
              <i class="material-icons remove">remove_circle_outline</i>
              <input type="number" id="Quantity" name="quantity" value="1" min="1">
              <i class="material-icons add">add_circle_outline</i>
            </div>
          </div>

          {% unless product.variants.size == 1 and product.options.size == 1 and product.options.first == 'Title' and product.variants.first.title == 'Default Title' %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label
                  {% if option.name == 'default' %}class="label-hidden"{% endif %}
                  for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>


          <button
            class="btn-large z-depth-0"
            type="submit"
            name="add"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>

          {% if product.tags.size > 0 %}
            <div class="tags-wrapper">
              <label>tags</label>
              <div class="tags">
                {% for tag in product.tags %}
                  <div class="chip">{{ tag | link_to_tag: tag }}</div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

        </form>
      </div>
      <div class="description">
        <p>{{ product.description }}</p>

        {% if product.images.size > 1  %}
          {% include 'product-image-carousel' %}
        {% endif %}

        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>
    <div class="gallery-action">

      {% if settings.shopify_product_reviews_enabled %}
        <a class="go-to-ratings btn-floating btn-large waves-effect waves-light">
          <i class="material-icons">star</i>
        </a>
      {% endif %}


    </div>
  </div>

  {% unless product.empty? %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>